*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*bootstrap Font*/
body{
	font-family: 'Poppins', sans-serif;
	background-color:#D9DADB ;
	max-width: 100%;
}
.navbar-brand{
	font-family: 'Notable', sans-serif;
	color: #3E3D3D;
}
.landing{
	background: url(./images/ev-zQtmZjMdejU-unsplash.jpg);
	background-size: cover;
	position: relative;


}
.profile{
	width: 60%;
	height: 80%;
}
.text-me{
	text-align: center;
}

.text-me h1{
	font-weight:bolder;
	font-size: 3rem;
	padding-top:2.5em;
	padding-bottom: 1em;
	
}
.text-me h3{
	padding-bottom: 0.5em;
	font-size:2rem;

}

.about-img{
	width: 35vw;
	height: 60vh;
	margin-left: 3em;
}

.h3{
	font-weight:bolder;
	font-size: 3rem;
	padding-top:3em;
	padding-bottom: .8em;
	letter-spacing: 5px;
}

.about-text p{
	font-size: 1rem;
	padding-bottom: .8em;
	letter-spacing: 2px;
	line-height: 30px;
}



.button{
	border-radius: 25px;
	font-weight: bold;
	background-color: #EBEBEB;
	border: 1px white solid;
}
.card-img{
	
	height: 50vh;
}

.link{
	border: 1px solid white;
	color: white;
	background-color:#474747 ;
	border-radius: 30px;

}
.link:hover{
	background-color:#C2C2C2 ;
	text-decoration: none;
}



/*@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
*/
